<div class="feature-home">
    <div class="list-container">
        <div class="data-controls">
            <div class="controls-container">
                <label class="control-label">Sort direction</label>
                <select [(ngModel)]="sortDirection">
                    <option value="{{SortDirection.ASC}}">Ascending</option>
                    <option value="{{SortDirection.DESC}}">Descending</option>
                </select>
            </div>

            <div class="controls-container">
                <label class="control-label">Sort Term</label>
                <select [(ngModel)]="sortTerm">
                    <option value="{{SortTerm.NAME}}">Name</option>
                    <option value="{{SortTerm.STATUS}}">Status</option>
                    <option value="{{SortTerm.SPECIES}}">Species</option>
                    <option value="{{SortTerm.EPISODES}}">Episodes</option>
                </select>
            </div>
        </div>

        <div class="data-controls">
            <div class="controls-container">
                <label class="control-label">Filter Name</label>
                <input [(ngModel)]="filterObject.name" type="text">
            </div>

            <div class="controls-container">
                <label class="control-label">Filter Species</label>
                <input [(ngModel)]="filterObject.species" type="text">
            </div>

            <div class="controls-container">
                <label class="control-label">Filter Status</label>
                <select [(ngModel)]="filterObject.status">
                    <option value="{{CharacterStatus.ALIVE}}">Alive</option>
                    <option value="{{CharacterStatus.DEAD}}">Dead</option>
                    <option value="{{CharacterStatus.UNKNOWN}}">Unknown</option>
                </select>
            </div>

            <button class="button" (click)="resetFilters()">
                Reset
            </button>
        </div>

        <div class="list-results" *ngIf="paginator$ | async as paginator" infiniteScroll [infiniteScrollDistance]="2"
            [infiniteScrollThrottle]="1000" (scrolled)="loadMoreProducts(paginator)" [scrollWindow]="false">
            <div class="list-item" *ngFor="let char of paginator.items | orderBy:sortDirection:sortTerm | sortBy:filterObject">
                <img class="list-item-img" src="{{char.image}}" />
                <div class="list-item-name">
                    <h2>{{char.name.length > 24 ? char.name + '...' : char.name}}</h2>
                </div>
                <div class="list-item-info">
                    <b>Status:</b> {{char.status | titlecase}}<br />
                    <b>Species:</b> {{char.species}}<br />
                    <b>Episodes:</b> {{char.episode.length}}
                </div>

                <br>
            </div>
            <h4 *ngIf="!paginator.hasMorePages">You have reached the end of the universe!</h4>
        </div>
        <h4 *ngIf="loading$ | async">Loading...</h4>
    </div>
</div>