.data-controls{
    padding:3px;
    display:flex
}

.controls-container{
    margin:3px
}

.control-label{
    display: block;
}

.button {
  margin-left: auto;
  background-color: #87F54E;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  height: 40px;
  line-height: 20px;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
}

.button:hover,
.button:focus {
  background-color: #4ba81d;
}