.data-controls {
  padding: 3px;
  display: flex;
  justify-content: start;
  align-items: flex-end;
  overflow: scroll;  
}

.controls-container {
  margin: 3px;
}

.control-label {
  display: block;
}

.button {
  margin-left: auto;
  background-color: #87f54e;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  height: 40px;
  line-height: 20px;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  width: 180px;
}

.button:hover,
.button:focus {
  background-color: #4ba81d;
}

label{
  width: 160px;
}
