/* You can add global styles to this file, and also import other style files */

body {
    margin: 0px;
    padding: 0px;
}

* {
    font-family: "IBM Plex Sans", sans-serif;
}

.feature-home {
    height: 100vh;
    width: 100vw;
    background-color: black;
    display: flex;
    justify-content: center;
}